* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.header {
    display: flex;
    background-color: rgb(139, 76, 3);
    align-items: center;
    width: 100%;
    height: 10vh;
}

.h1-motores {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    padding-top: 2%;
}

.seccion-modelos3 section {
    display: none;
}

.seccion-toyota {
    margin-top: 2%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-honda {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-ford {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-chevrolet {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-hyundai {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-renault {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-peugeot {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-fiat {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-mercedesbenz {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-landrover {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-nissan {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-volkswagen {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-citroen {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-audi {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}

.seccion-bmw {
    margin-top: 5%;
    border: solid 2px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}


footer {
    padding-top: 2%;
}